.theme-dark, .theme-dark #better-wrap {
  background: #1C1F26 !important;
  color: #c5c8c6;
}

.theme-dark #better-wrap {
  background: #25282C !important;
}

.theme-dark #banner {
  background: #1C1F26;
}

#better-wrap, #about {
  background: #FDF6E3 !important;
  padding: 5px;
  margin: 0;

  position: absolute;
  top: 50px;
  bottom: 25%;
  left: 0;
  right: 0;
}

#about {
  padding-left: 55px !important;
  padding-top: 0 !important;
  z-index: 5 !important;
}

#better-code {
  width: 100%;
  height: 100%;
  padding: 0; margin: 0;
  border: none;
  outline: none;
  resize: none;
  float: right;
}

#importsBox {
  margin-left: 10px;
}
